<%= link_to "Admin Page", admin_users_path %>
<h2>Delete this user</h2>

<%= form_for [:admin, @user] do |f| %>
  <div>
    <%= f.label "Enter user's email" %><br>
    <%= f.text_field "email" %>
  </div>
  <div><%= f.submit "Submit" %></div>
<% end %>